<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Le Chat + <%= name %>
    </title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <main>
        <%- include('./partial/chats') %>
            <%- include('./partial/inbox') %>
    </main>
</body>
<script>
    //TODO: USE A POLL(interval calling) OR websocket in node
    const ledropdown = () => {
        const dropdown = document.querySelector(".dropdown-content");

        dropdown.classList.toggle('show');
    }
    //display messages in inbox.ejs
    let current_chat_id = "";
    document.querySelectorAll('.chat').forEach(item => {
        item.addEventListener('click', async () => {
            current_chat_id = item.dataset.id;

            loadChat(current_chat_id);

        });

    })
    async function loadChat(id) {
        const endpoint = "/chats/" + id;
        const res = await fetch(endpoint, {
            method: 'POST'
        });
        const data = await res.json();
        let html = '';
        //current userID
        const userId = "<%=uid%>";
        //setting the top bar name
        if (id) {
            document.querySelector('.right-side').classList.remove('right-side-none');
        } else {
            document.querySelector('.right-side').classList.add('right-side-none');
        }
        document.querySelector('.chat-name').innerHTML = data.ChatName;
        document.querySelector('.chat-img').src = `data:img/jpg;base64,${data.Img}`;
        //set form action
        // document.querySelector('.inp').action = `/chats/${data._id}/send`;

        if (data.messages.length > 0) {
            for (let i = 0; i < data.messages.length; i++) {
                let name = await getName(data.messages[i].messager);

                //formating date
                //not using npm cuz i "dOnT NeEd It" 🗿, could use it
                let date = new Date(data.messages[i].createdAt);
                const weekday = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"];
                const months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
                // let time = date.getHours();
                let day = weekday[date.getDay()];
                let ddate = date.getDate();
                let month = months[date.getMonth()];
                let year = date.getFullYear();

                //time
                let hour = date.getHours();
                let min = date.getMinutes();

                let display_timestamp = `${day} ${ddate} ${month} ${year}, ${hour}:${min}`;
                let isCurrentUser = data.messages[i].messager == userId ? true : false;

                //dont need to display name for current user msg
                html += `
                <div class=" ${isCurrentUser ? 'box currentUser' : 'box'}"  id="${i}">
                    <h4>${isCurrentUser ? "" : name}</h4>
                    <p>${data.messages[i].message}</p>  
                    <p>${display_timestamp}</p>
                    </div>
                    `;
            }
        }

        document.querySelector('.messages').innerHTML = html;
        //scroll to the last element
        const element = document.getElementById(`${data.messages.length - 1}`);
        element.scrollIntoView({ behavior: "smooth"});
    }
    document.querySelector('.submit').addEventListener('click', async () => await sendMessage(current_chat_id));

    async function getName(id) {

        const res = await fetch(`/chats/getUser/${id}`, {
            method: 'POST',
        })
        const data = await res.json();

        return data.username;
    }
    const sendMessage = async (id) => {

        let input = document.querySelector('.message');

        const res = await fetch(`/chats/${id}/send`, {
            method: 'POST',
            headers: {
                "Content-Type": "application/x-www-form-urlencoded"
            },
            body: new URLSearchParams({
                message: input.value
            }).toString()
        });
        const data = await res.json();
        if (res.status == 200) {
            loadChat(current_chat_id);
            input.value = "";
        }
    }

</script>

</html>