<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Le Chat + <%= name %>
    </title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <main>
        <%- include('./partial/chats') %>
            <%- include('./partial/inbox') %>
    </main>
</body>
<script>
    const ledropdown = () => {
        const dropdown = document.querySelector(".dropdown-content");

        dropdown.classList.toggle('show');
    }
    //display messages in inbox.ejs
    let current_chat_id = "";
    document.querySelectorAll('.chat').forEach(item => {
        item.addEventListener('click', async () => {
            current_chat_id = item.dataset.id;

            loadChat(current_chat_id);

        });

    })
    async function loadChat(id) {
        const endpoint = "/chats/" + id;
        const res = await fetch(endpoint, {
            method: 'POST'
        });
        const data = await res.json();
        let html = '';
        //current userID
        const userId = "<%=uid%>";
        //setting the top bar name
        document.querySelector('.chat-name').innerHTML = data.ChatName;
        document.querySelector('.chat-img').src = `data:img/jpg;base64,${data.Img}`;
        //set form action
        // document.querySelector('.inp').action = `/chats/${data._id}/send`;

        if (data.messages.length > 0) {
            for (let i = 0; i < data.messages.length; i++) {
                console.log(data.messages[i])
                let name = await getName(data.messages[i].messager);
                html += `
                <div class=" ${data.messages[i].messager == userId ? 'box currentUser' : 'box'}">
                    name: ${name}
                    text: ${data.messages[i].message}  
                    time: ${data.messages[i].createdAt}
                    </div>
                    `;
            }
        }
        document.querySelector('.messages').innerHTML = html;
    }
    document.querySelector('.submit').addEventListener('click', async () => await sendMessage(current_chat_id));

    async function getName(id) {

        const res = await fetch(`/chats/getUser/${id}`, {
            method: 'POST',
        })
        const data = await res.json();

        return data.username;
    }
    const sendMessage = async (id) => {

        let input = document.querySelector('.message');

        const res = await fetch(`/chats/${id}/send`, {
            method: 'POST',
            headers: {
                "Content-Type": "application/x-www-form-urlencoded"
            },
            body: new URLSearchParams({
                message: input.value
            }).toString()
        });
        const data = await res.json();
        console.log(res);
        if (res.status == 200) {
            loadChat(current_chat_id);
            input.value = "";
        }
    }

</script>

</html>