<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="signup">
        <h3>Le Chat</h3>
        <form action="/users/signup" method="POST">
            <!-- <label for="email">Email</label>
            <input type="email" name="email"> -->
            <label for="username">Username</label>
            <input type="text" name="username">
            <label for="password">Password</label>
            <input type="password" name="password">
            <label for="conpassword">Confirm Password</label>
            <input type="password">
            <button>Sign up</button>
        </form>
    </div>
    <a href="/users/login">Already have an account?</a>
</body>
</html>