<section class="left-side">
    <nav>
        <div class="dropdown">
            <svg onclick="dropdown()" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-list"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5" />
            </svg>
            <div class="dropdown-content">
                <a href="">profile</a>
                <a href="">logout</a>
                <!-- dark mode toggle here -->
            </div>
        </div>
        <h3>Le Chat</h3>
    </nav>
    <div class="chats" style="margin-top: 10px;">
        <div class="chat">
            <img src="boiled.jpg" alt="">
            <div class="txt">
                <h5 style="font-size: 20px;" class="name">carrot</h5>
                <p style="font-size: 14px;" class="msg">hello</p>
            </div>
        </div>
        <div class="chat">
            <img src="boiled.jpg" alt="">
            <div class="txt">
                <h5 style="font-size: 20px;" class="name">carrot</h5>
                <p style="font-size: 14px;" class="msg">hello</p>
            </div>
        </div>
    </div>
</section>