<section class="right-side right-side-none">
    <div class="inbox">
        <div class="bar">
            <img src="" alt="" class="chat-img">
            <h5 style="font-size: 20px;" class="chat-name">name</h5>
        </div>
        <div class="message-container">
            <div class="messages">
            </div>
        </div>
        <!-- <form action="" method="POST" class="inp"> -->
        <div class="inp">
            <input type="text" placeholder="Message" class="message">
            <button class="submit">send</button>
        </div>
        <!-- </form> -->
    </div>
</section>