<section class="right-side">
    <div class="inbox">
        <div class="bar">
            <img src="" alt="" class="chat-img">
            <h5 style="font-size: 20px;" class="chat-name">name</h5>
        </div>
        <div class="messages" id="681735bf260d35e251e4e2a9">

            messages here
        </div>
        <!-- <form action="" method="POST" class="inp"> -->
        <div class="inp">
            <input type="text" placeholder="Message" class="message">
            <button class="submit">send</button>
        </div>
        <!-- </form> -->
    </div>
</section>