<section class="right-side">
    <div class="inbox">
        <div class="bar">
            <img src="boiled.jpg" alt="">
            <h5 style="font-size: 20px;">name</h5>
        </div>

        <form action="" class="inp">
            <input type="text" placeholder="Message">
            <button>send</button>
        </form>
    </div>
</section>